.headerRoot {
  height: 53px;
  padding: 0px 66px 0px 135px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  z-index: 99;
  position: fixed;
}
@media (max-width: 450px) {
  .headerRoot {
    display: none;
  }
}
.searchRoot {
  display: flex;
  align-items: center;
}
.linkdinIcon {
  width: 34px;
  height: 34px;
  margin-right: 10px;
}
.searcgInputRoot {
  border-radius: 4px;
  background-color: #eef3f8;
  height: 34px;
  max-width: 280px;
  display: flex;
  align-items: center;
  padding: 0px 16.9px;
}

.searchIcon {
  color: rgba(0, 0, 0, 0.9);
  width: 14px;
  height: 15.8px;
}

.inputContainer {
  background-color: transparent;
  height: 34px;
  padding: 8px 12 6px 8.9px;

  font-family: Montserrat;
  font-size: 12px;
  line-height: 14.63px;
  color: rgba(102, 102, 102, 0.6);
}
.headerRightContainer {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.headerLinksRoot {
  max-width: 854px;
  width: 854px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
@media (max-width: 1300px) {
  .headerRoot {
    padding: 0px 30px 0px 50px;
  }
  /* .headerLinksRoot {
    width: 700px !important;
  } */
}
@media (max-width: 1024px) {
  .headerLinksRoot {
    width: 100px !important;
  }
}
@media (max-width: 1024px) {
  .headerRoot {
    /* height: auto; */
    display: none;
  }
  .avatarContainer {
    padding: 0px !important;
    border: none !important;
  }
}
.headerLinkContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 4px;
  cursor: pointer;
  max-width: 80px;
  width: 80px;
  border-bottom: 2px solid white;
}

.activeHeaderLinkContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 4px;
  cursor: pointer;
  max-width: 80px;
  width: 80px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.9);
}

.headerLinkContainer:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.9);
}

.headerIcon {
  width: 24px;
  height: 24px;
  fill: #666666;
  fill-opacity: 0.6;
}
.active_headerIcon {
  width: 24px;
  height: 24px;
}
.active_headerIcon path {
  fill: black !important;
  fill-opacity: 1 !important;
}
.headerLetter {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 12px;
  line-height: 14.63px;
  color: rgba(102, 102, 102, 0.6);
}

.activeHeaderLetter {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 12px;
  line-height: 14.63px;
  color: rgba(0, 0, 0, 0.9);
}

.avatarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 24px;
  border-right: 0.25px solid rgba(102, 102, 102, 0.6);
  height: 53px;
  cursor: pointer;
}

.avatar {
  border-radius: 100%;
  width: 24px;
  height: 24px;
}
.dropDownIcon {
  margin-left: 2px;
}
.dropDownLetterContainer {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 12px;
  line-height: 14.63px;
  color: rgba(102, 102, 102, 0.6);
  display: flex;
  align-items: center;
}

.textureContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
  cursor: pointer;
}

.textureIcon {
  margin-bottom: 8px;
}

.premiumLetter {
  cursor: pointer;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 15px;
  color: #915907;
}
.c-testIcon path {
  fill: blue !important;
}
