.App {
  text-align: center;
  background-color: rgba(224, 224, 224, 0.6);
  height: 100vh;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.c-standardRoot {
  position: fixed;
  width: 100%;
  padding-top: 84px;
  display: flex;
  justify-content: center;
  right: 460px;
}
@media (max-width: 1225px) {
  .c-standardRoot {
    display: none;
  }
}
.c-standardContainer {
  position: absolute;
  top: "80px";
}
@media (max-width: 1024px) {
  .c-space {
    display: none;
  }
}
.c-space {
  width: 100%;
  height: 30px;
  position: fixed;
  margin-top: 53px;
  background-color: rgba(224, 224, 224);
  z-index: 99;
}
